body {
    background-color: #f2f2f2;
    line-height: 1.8;
    text-align: justify;
}

ul {
    list-style-type: none;
    background-color: rgb(172, 98, 2);
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 10px solid rgb(172, 98, 2);
    border-radius: 12px;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(241, 8, 8);
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #c3f5de;
}

.active {
    background-color: 	#a7a6a7;
}

p {
    text-align: center;
    color: rgb(80, 49, 106);
    font-size: 24px;
}

h1 {
    text-align: center;
    color: rgb(80, 49, 106);
    padding-top: 50px;
}

.continut_proces {
    padding-top: 50px;
}

.input_pers {
    resize: none;
    height: 16px;
    width: 200px;
    background-color: rgb(248, 236, 223);
}

label {
  display: block;
  margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border: 2px solid #5d5f70;
    /* font-family: sans-serif; */
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.object_table {
    text-align: center;
}

thead {
    background-color: #c3f5de;
}

th, td {
    border: 1px solid #65677a;
    padding: 8px 10px;
    text-align: center;
}

td:last-of-type {
    text-align: center;
}