{% extends 'base.html' %}

{% block content %}

<div class="random">
    <ul>
        <li><a class="{% if currentTablePage == 'Assets'%}active{% endif %}" href={% url 'assets' %}>Assets</a></li>
        <li><a class="{% if currentTablePage == 'locations'%}active{% endif %}" href={% url 'locations' %}>Locations</a></li>
        <li><a class="{% if currentTablePage == 'Departaments'%}active{% endif %}" href={% url 'departaments' %}>Departaments</a></li>
        <li><a class="{% if currentTablePage == 'ObjectTypes'%}active{% endif %}" href={% url 'objectTypes' %}>Object Types</a></li>
        <li><a class="{% if currentTablePage == 'DepartamentObjects'%}active{% endif %}" href={% url 'assets' %}>Departament Objects</a></li>
        <li><a class="{% if currentTablePage == 'InventoryClasses'%}active{% endif %}" href={% url 'assets' %}>Inventory Classes</a></li>
        <li><a class="{% if currentTablePage == 'Persons'%}active{% endif %}" href={% url 'assets' %}>Persons</a></li>
    </ul>
</div>

<form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Add</button>
</form>


{% endblock %}