{% extends 'base.html' %}

{% block content %}

<div class="random">
    <ul>
        <li><a class="{% if currentTablePage == 'Assets'%}active{% endif %}" href={% url 'assets' %}>Assets</a></li>
        <li><a class="{% if currentTablePage == 'locations'%}active{% endif %}" href={% url 'locations' %}>Locations</a></li>
        <li><a class="{% if currentTablePage == 'departaments'%}active{% endif %}" href={% url 'departaments' %}>Departaments</a></li>
        <li><a class="{% if currentTablePage == 'ObjectTypes'%}active{% endif %}" href={% url 'objectTypes' %}>Object Types</a></li>
        <li><a class="{% if currentTablePage == 'DepartamentObjects'%}active{% endif %}" href={% url 'assets' %}>Departament Objects</a></li>
        <li><a class="{% if currentTablePage == 'InventoryClasses'%}active{% endif %}" href={% url 'assets' %}>Inventory Classes</a></li>
        <li><a class="{% if currentTablePage == 'Persons'%}active{% endif %}" href={% url 'assets' %}>Persons</a></li>
    </ul>
</div>

<br>
<br>


<div class="pagination">
    <span class="step-links">
        {% if pageObj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="page={{ pageObj.previous_page_number }}">previonus</a>
        {% endif %}

        <span class="current">
            Page {{ pageObj.number}} of {{ pageObj.paginator.num_pages }}.
        </span>

        {% if pageObj.has_next %}
            <a href="?page={{ pageObj.next_page_number }}">next</a>
            <a href="?page={{ pageObj.paginator.num_pages }}">last</a>
        {% endif %}
    </span>
</div>


{% endblock %}