{% extends 'base.html' %}

{% block content %}

<br>
<br>

<table>
    <thead>
        <th>Location</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for location in pageObj %}
            <tr>
                <td>{{ location.name }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if pageObj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="page={{ pageObj.previous_page_number }}">previonus</a>
        {% endif %}

        <span class="current">
            Page {{ pageObj.number}} of {{ pageObj.paginator.num_pages }}.
        </span>

        {% if pageObj.has_next %}
            <a href="?page={{ pageObj.next_page_number }}">next</a>
            <a href="?page={{ pageObj.paginator.num_pages }}">last</a>
        {% endif %}
    </span>
</div>


{% endblock %}