{% extends 'base.html' %}

{% load tags %}

{% block content %}

<h1>PROCES VERBAL DE PREDARE/PRIMIRE</h1>

{% current_time "%d/%m/%Y" as the_time %}

<div class="continut_proces">
    <p>Incheiat in 2 exemplare, la data de {{ the_time }}, intre a
        <input class="input_pers" type="text" maxlength="26">
        si b
        <input class="input_pers" list="requester_name_list"/>
        <datalist id="requester_name_list">
            {% for option in tickets %}
                <option value={{option.pers2_name}}></option>
            {% endfor %}
        </datalist>
        . Prin prezentul proces verbal se atesta primirea urmatoarelor repere, comform ticket/solicitare interna #
    </p>
    
    <br><br><br>
    
    <table>
        <thead>
            <tr>
                <th scope="col">Nr. crt.</th>
                <th scope="col">Nr. inv.</th>
                <th scope="col">Obiect</th>
            </tr>
        </thead>

        <tr>

        </tr>


        <!-- <tr>
            <td>1</td>
            <td>Iphone 11 pro max latime tabel</td>
        </tr>
        <tr>
            <td>2</td>
            <td>a</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Apple</td>
        </tr> -->
    </table>

</div>

{% endblock %}